@model IEnumerable<test.Models.CheckView>



<h1>cars has checked-in multiple time per day <a type="button" asp-action="multiple" class="btn btn-primary">Click Here</a></h1>
<h1>parking space available at 13:30 PM <a type="button" asp-action="before" class="btn btn-primary">Click Here</a></h1> 
<h1>Pie Chart that show #check-in vs #check-out <a type="button" asp-action="pie" class="btn btn-primary">Click Here</a></h1> 




